@using BuyFastDTO.ResponseModel
@model List<CategoryResponse>

<h2>Категории</h2>
<div class="row">
@foreach (var category in Model)
{
    <div class="col-md-4 mb-3">
        <div class="card p-3">
            <h5>@category.Name</h5>
        </div>
    </div>
}
</div>
