<footer class="footer bg-dark text-white pt-5 pb-4">
    <div class="container">
        <div class="row">
            <!-- BuyFast info -->
            <div class="col-md-3">
                @* <img src="~/images/alif-logo.png" alt="🛍️ BuyFast" width="120" /> *@
                <p>🛍️ BuyFast</p>
                <ul class="list-unstyled mt-3">
                    <li><a class="text-white" href="#">О нас</a></li>
                    <li><a class="text-white" href="#">Вакансии</a></li>
                    <li><a class="text-white" href="#">Новости BuyFast</a></li>
                </ul>
            </div>

            <!-- Для покупателей -->
            <div class="col-md-3">
                <h6>Для покупателей</h6>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="#">Рассрочка</a></li>
                    <li><a class="text-white" href="#">Реквизиты</a></li>
                    <li><a class="text-white" href="#">Чат поддержки</a></li>
                </ul>
            </div>

            <!-- Для партнёров -->
            <div class="col-md-3">
                <h6>Для партнёров</h6>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="#">Продавать на BuyFast</a></li>
                    <li><a class="text-white" href="#">Личный кабинет продавца</a></li>
                </ul>
            </div>

            <!-- QR + App download -->
            <div class="col-md-3 text-center">
                <img src="~/images/qrcode.png" alt="QR Code" width="150" class="mb-2" />
                <p>Наведите камеру на QR-код, чтобы скачать</p>
                <div class="d-flex justify-content-center gap-2">
                    <img src="~/images/apple-store.png" width="30" />
                    <img src="~/images/google-play.png" width="30" />
                    <img src="~/images/huawei-store.png" width="30" />
                </div>
            </div>
        </div>

        <div class="text-center mt-4">
            <p class="mb-0">© 2025 Sh.J «BuyFast». г. Худчанд, Шолконбинат, ул. Исмоил Сомоний, 9</p>
            <div class="mt-2">
                <img src="~/images/instagram.png" width="25" />
                <img src="~/images/facebook.png" width="25" />
            </div>
        </div>
    </div>
</footer>
